.container-fluid
  = form_with model: @drink, local: true do |f|
    .form-row
      .form-group.col-md-4
        %h5 ドリンク名
        = f.text_field :name, class: 'form-control', placeholder: '例：生ビール'
      .form-group.col-md-4
        %h5 価格
        = f.text_field :price, class: 'form-control', placeholder: '例：〇〇〇円'
      .form-group.col-md-4
        %h5 コメント
        = f.text_field :comment, class: 'form-control', placeholder: '例：乾杯に'
    = f.submit '更新', class: 'btn btn-primary'
.container-fluid
  .row.mt-5.ml-1
    %button.btn.btn-success{type: "button"}
      = link_to "店舗ページへ", "/restaurants/#{current_restaurant.id}", class: "text-white"