.container-fluid
  .row.mt-5
    %h1.col.text-center oshinagaki
.container-fluid
  .row.mt-3.mb-5
    %p.col.text-center oshinagakiは食べたいメニューや飲みたいドリンクから飲食店を探すサービスです。
.container-fluid
  .row.d-flex.justify-content-around.mt-5
    %button.btn.btn-success.btn-lg.w-25{type: "button"}
      = link_to "店舗ログイン・新規登録", new_restaurant_session_path, class: "text-white"
%h1 店舗検索
.container-fluid
  = search_form_for @q, url: search_restaurants_path do |f|
    .row.mt-5.mb-3
      .col
        店名
        = f.search_field :name_cont, class: 'form-control', placeholder: '例：居酒屋◯◯'
    .row.mb-3
      .col-6
        地域
        = f.search_field :addres_cont, class: 'form-control', placeholder: '例：◯◯市'
      .col-6
        最寄駅
        = f.search_field :station_cont, class: 'form-control', placeholder: '例：◯◯駅'
    .row.mb-5
      .col-6
        食べたいもの
        = f.search_field :foods_name_cont, class: 'form-control', placeholder: '例：枝豆'
      .col-6
        飲みたいもの
        = f.search_field :drinks_name_cont, class: 'form-control', placeholder: '例：レモンサワー'
    .row.mb-3
      .col-6
        = f.submit '検索', class: 'btn btn-primary search-btn'