.container-fluid
  .restaurant-info
    .row
      %img.img-thumbnail.col-4{alt: "...", src: "..."}/
      .card-body.col-8
        %h5.card-title
          = @restaurants.name
          .row
            %p.card-text.col-6
              = @restaurants.addres
            %p.card-text.col-2
              = @restaurants.tel
          %p.text-muted
            = @restaurants.comment
.container-fluid
  .row.bg-warning
    .col
    .c0l-4.font-italic.text-light
      %h4 食事メニュー
    .col
%table.table.table-striped
  %thead
    %tr
      %th{scope: "col"} 商品名
      %th{scope: "col"} 価格
      %th{scope: "col"} コメント
  %tbody
    %tr
    - @foods.each do |food|
      %tr
        %td
          = food.name
        %td
          = food.price
        %td
          = food.comment

.container-fluid
  .row.bg-primary
    .col
    .c0l-4.font-italic.text-light
      %h4 ドリンクメニュー
    .col
%table.table.table-striped
  %thead
    %tr
      %th{scope: "col"} 商品名
      %th{scope: "col"} 価格
      %th{scope: "col"} コメント
  %tbody
    - @drinks.each do |drink|
      %tr
        %td
          = drink.name
        %td
          = drink.price
        %td
          = drink.comment

-# .container-fluid
-#   .row.bg-danger
-#     .col
-#     .c0l-4.font-italic.text-light
-#       %h4 ワインリスト
-#     .col
-# %table.table.table-striped
-#   %thead
-#     %tr
-#       %th{scope: "col"} 商品名
-#       %th{scope: "col"} 価格
-#       %th{scope: "col"} タイプ
-#       %th{scope: "col"} 生産地
-#       %th{scope: "col"} 品種
-#       %th{scope: "col"} コメント
-#   %tbody
-#     %tr
-#       %td シャブリ
-#       %td ５０００円
-#       %td 白・酸強
-#       %td フランス・シャブリ
-#       %td シャルドネ
-#       %td カキ◯
-#     %tr
-#       %td ロバートモンダヴィ
-#       %td ７０００円
-#       %td 赤・フルボディ
-#       %td アメリカ・カリフォルニア
-#       %td カベルネ・ソーヴィニヨン
-#       %td お肉◯

-# .container-fluid
-#   .row.bg-success
-#     .col
-#     .c0l-4.font-italic.text-light
-#       %h4 日本酒リスト
-#     .col
-# %table.table.table-striped
-#   %thead
-#     %tr
-#       %th{scope: "col"} 商品名
-#       %th{scope: "col"} 価格
-#       %th{scope: "col"} 都道府県
-#       %th{scope: "col"} コメント
-#   %tbody
-#     %tr
-#       %td 多満自慢 純米無濾過
-#       %td ７００円
-#       %td 東京
-#       %td 熱燗
-#     %tr
-#       %td 鶴齢 純米吟醸
-#       %td ９００円
-#       %td 新潟県
-#       %td 冷酒
