.container-fluid
  .restaurant-info
    .row.mt-4.mb-4.d-flex.justify-content-center
      - if @restaurants.image.present?
        .col
        = image_tag @restaurants.image.url, size: "220x160"
      .card-body.col-8
        .card-title
          %a.col.h3
            = @restaurants.name
          .row
            %p.card-text.col-6.mt-4.h5
              = @restaurants.addres
            .card-text.col-2
              %p.h6 電話番号
              = @restaurants.tel
          %p.text-muted
            = @restaurants.comment
.container-fluid
  .row.bg-warning
    .col
    .font-italic.text-light
      %h4 フードメニュー
    .col
.container-fluid
  .row
    .col-1
    .col
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", class: "name_width"} 商品名
            %th{scope: "col", class: "price_width"} 価格
            %th{scope: "col", class: "comment_width"} コメント
        %tbody
          %tr
          - @foods.each do |food|
            %tr
              %td
                = food.name
              %td
                = food.price
              %td
                = food.comment
    .col-1
.container-fluid
  .row.bg-primary
    .col
    .font-italic.text-light
      %h4 ドリンクメニュー
    .col
.container-fluid
  .row
    .col-1
    .col
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", class: "name_width"} 商品名
            %th{scope: "col", class: "price_width"} 価格
            %th{scope: "col", class: "comment_width"} コメント
        %tbody
          %tr
          - @drinks.each do |drink|
            %tr
              %td
                = drink.name
              %td
                = drink.price
              %td
                = drink.comment
    .col-1
.container-fluid
  .row.bg-success
    .col.font-italic.text-light.text-center
      %h4 日本酒リスト
.container-fluid
  .row
    .col-1
    .col
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", class: "sake_name"} 商品名
            %th{scope: "col", class: "sake_price"} 価格
            %th{scope: "col", class: "sake_prefecture"} 都道府県
            %th{scope: "col", class: "sake_comment"} コメント
        %tbody
          %tr
          - @sakes.each do |sake|
            %tr
              %td
                = sake.name
              %td
                = sake.price
              %td
                = sake.prefecture
              %td
                = sake.comment
    .col-1
.container-fluid
  .row.bg-danger
    .col
    .c0l-4.font-italic.text-light
      %h4 ワインリスト
    .col
.container-fluid
  .row
    .col-1
    .col
      %table.table.table-striped
        %thead
          %tr
            %th{scope: "col", class: "wine_name"} 商品名
            %th{scope: "col", class: "wine_price"} 価格
            %th{scope: "col", class: "wine_type"} タイプ
            %th{scope: "col", class: "wine_area"} 生産地
            %th{scope: "col", class: "wine_variety"} 品種
            %th{scope: "col", class: "wine_comment"} コメント
        %tbody
          %tr
          - @wines.each do |wine|
            %tr
              %td
                = wine.name
              %td
                = wine.price
              %td
                = wine.color
              %td
                = wine.area
              %td
                = wine.variety
              %td
                = wine.comment
    .col-1