.container-fluid
  .restaurant-info
    .row.mt-4.mb-4.d-flex.justify-content-center
      - if @restaurants.image.present?
        .col
        = image_tag @restaurants.image.url, size: "220x160"
      .card-body.col-8
        .card-title
          %a.col.h3
            = @restaurants.name
          .row
            %p.card-text.col-6.mt-4.h5
              = @restaurants.addres
            .card-text.col-2
              %p.h6 電話番号
              = @restaurants.tel
          %p.text-muted
            = @restaurants.comment
= render partial: "foods/index"
= render partial: "drinks/index"
= render partial: "sakes/index"
= render partial: "wines/index"