.container-fluid
  .restaurant-info
    .row
      -# = image_tag @restaurants.image.url, if @restaurants.image.present?
      .card-body.col-8
        %h5.card-title
          %a
            = @restaurants.name
          .row
            %p.card-text.col-6    
              = @restaurants.addres
            %p.card-text.col-2
              = @restaurants.tel
          %p.text-muted
            = @restaurants.comment
.container-fluid
  .row.bg-primary
    .col
    .c0l-4.font-italic.text-light
      %h4 ドリンクメニュー
    .col
%table.table.table-striped
  %thead
    %tr
      %th{scope: "col"} 商品名
      %th{scope: "col"} 価格
      %th{scope: "col"} コメント
  %tbody
    %tr
    - @drinks.each do |drink|
      %tr
        %td
          = drink.name
        %td
          = drink.price
        %td
          = drink.comment
.container-fluid
  .row.bg-success
    .col
    .c0l-4.font-italic.text-light
      %h4 日本酒リスト
    .col
%table.table.table-striped
  %thead
    %tr
      %th{scope: "col"} 商品名
      %th{scope: "col"} 価格
      %th{scope: "col"} 都道府県
      %th{scope: "col"} コメント
  %tbody
    %tr
    - @sakes.each do |sake|
      %tr
        %td
          = sake.name
        %td
          = sake.price
        %td
          = sake.prefecture
        %td
          = sake.comment
.container-fluid
  .row.bg-danger
    .col
    .c0l-4.font-italic.text-light
      %h4 ワインリスト
    .col
%table.table.table-striped
  %thead
    %tr
      %th{scope: "col"} 商品名
      %th{scope: "col"} 価格
      %th{scope: "col"} タイプ
      %th{scope: "col"} 生産地
      %th{scope: "col"} 品種
      %th{scope: "col"} コメント
  %tbody
    %tr
    - @wines.each do |wine|
      %tr
        %td
          = wine.name
        %td
          = wine.price
        %td
          = wine.color
        %td
          = wine.area
        %td
          = wine.variety
        %td
          = wine.comment

