.container-fluid
  .row.mt-5.ml-1.text-right
    .col
    %button.btn.btn-success{type: "button"}
      = link_to "店舗ページへ", "/restaurants/#{current_restaurant.id}", class: "text-white"
    .col-1
.container-fluid
  = form_with model: @wine, local: true do |f|
    .form-row.mt-5
      .col-1
      .form-group.col-5
        %h5 ワイン名
        = f.text_field :name, class: 'form-control', placeholder: '例：ロバートモンダヴィ'
      .form-group.col-5
        %h5 生産地
        = f.text_field :area, class: 'form-control', placeholder: '例：アメリカ'
      .col-1
    .form-row.mt-4
      .col-1
      .form-group.col-5
        %h5 価格
        = f.text_field :price, class: 'form-control', placeholder: '例：〇〇〇円'
      .form-group.col-5
        %h5 コメント
        = f.text_field :comment, class: 'form-control', placeholder: '例：フルボディ'
      .col-1
    .form-row.mt-4
      .col-1
      .form-group.col-5
        %h5 タイプ
        = f.text_field :color, class: 'form-control', placeholder: '例：赤'
      .form-group.col-5
        %h5 品種
        = f.text_field :variety, class: 'form-control', placeholder: '例：カベルネ・ソーヴィニヨン'
      .col-1
    .row.mt-5
      .col.text-center
        = f.submit 'リストを更新する', class: 'btn btn-primary w-25'
.container-fluid.mt-5
= render "index"